<div class="modal-header">
  <h2 class="modal-title">Register</h2>
</div>

<div class="modal-body">
  <form name="registerForm" role="form" ng-submit="register(registerUser)">
    <div class="row" ng-show="error">
      <div class="col-sm-12 col-md-12">
        {{error}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <input type="text" name="firstName" ng-model="registerUser.firstName" id="firstName" class="form-control" required placeholder="First Name" tabindex="1">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <input type="text" name="lastName" ng-model="registerUser.lastName" id="lastName" class="form-control" required placeholder="Last Name" tabindex="2">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <input type="email" name="email" id="email" ng-model="registerUser.email" class="form-control" required placeholder="Email address" tabindex="3">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <input type="password" name="password" id="password" ng-model="registerUser.password" class="form-control" required min="8" required placeholder="Enter password" tabindex="4">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <input type="text" name="companyName" ng-model="registerUser.company" id="companyName" class="form-control" placeholder="Company Name" tabindex="5">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="6" ng-disabled="registerForm.$invalid">Register</button>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="form-group">
    <div class="col-md-12 control">
      If you already have account please <a href="#/login">Log in</a>
    </div>
  </div>
</div>
