<div class="modal-header">
  <h2 class="modal-title">Reset password</h2>
</div>

<div class="modal-body">
  <form name="resetForm" class="form-horizontal" ng-submit="reset(credentials)" role="form">
    <div class="row" ng-if="error.message">
      <div class="col-sm-12 col-md-12 error">
        {{error.message}}
      </div>
    </div>

    <div class="row">
      <div class="input-group col-sm-12 col-md-12">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="login-username" type="email" class="form-control" tabindex="1" ng-model="credentials.email" name="email" placeholder="Email address" required>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="2" ng-disabled="resetForm.$invalid">Reset</button>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="form-group">
    <div class="col-md-12 control">
      Have account already? <a ng-click="$parent.openLogin()">Log in</a>
    </div>
  </div>
</div>
