<a href="https://github.com/konik-io"><img align="right" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<div id="Intro" class="section">

   <div class="container">

      <div class="row">

         <div class="col-lg-6 col-md-6 col-sm-6">
            <h1>Konik - Open Source library for ZUGFeRD compliant invoicing</h1>
            <h2>Contains everything you need for easy ZUGFeRD invoicing input and output.</h2>

            <div class="well-lg">
               <a href="#Quickstart" class="btn btn-lg btn-primary">Get started!</a>
            </div>
         </div>

         <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="img/konik-logo-on-white-bg.png" class="img-responsive img-customer">
         </div>
         
      </div>
      
   </div>
   
</div>
