title=ZUGFeRD Online Validation
title=ZUGFeRD Online Validation Services
date=2014-03-10 
type=page
status=published
meta_keywords=ZUGFeRD Online Service,ZUGFeRD Online Validation, ZUGFeRD Invoice Validation, ZUGFeRD Online, Invoice Validation, ZUGFeRD PDF validation, ZUGFeRD XML validation
meta_description=Validate ZUGFeRD invoices online to identify any error in PDF or XML content.
~~~~~~
<div class="container">
  <div class="row well">
    <div class="col-lg-6 col-md-6">
      <h4>Validity test for ZUGFeRD compliant invoices</h4>
      <p>This online service validates ZUGFeRD compliant PDF or XML files using the Konik library.</p>
      <p>If you would like to see a detailed validation report with a semantic validation <a href="http://www.google.com/recaptcha/mailhide/d?k=01q8vnbfNmxk0T5DM_GteAAg==&amp;c=zwuGbJbE2eqJvqdTIykGHA==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501q8vnbfNmxk0T5DM_GteAAg\75\75\46c\75zwuGbJbE2eqJvqdTIykGHA\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal the Email address">contact</a> us for more details.</p>
      <p>Version details</p>
      <dl class="dl-horizontal">
        <dt>Konik</dt>
        <dd>Version 0.7.1</dd>
        <dt>Validation Service</dt>
        <dd>Version 0.4.1</dd>
      </dl>
    </div>
    <div class="col-lg-6 col-md-6" ng-controller="ValidationCtrl">
      <form ng-if="isAuthenticated" id="validate_form" method="post" enctype="multipart/form-data" onsubmit="">
        <div class="form-group">
          <label for="upload_file">PDF or XML</label>
          <input type="file" name="file" id="upload_file">
          <p id="upload_file_help_block" class="help-block">Create validation report</p>
        </div>
        <button id="validation-button" type="submit" class="btn btn-primary btn-large">Submit</button>
        <button id="logout-button" ng-click="logout()" class="btn btn-default btn-large">Logout</button>
      </form>
      <button ng-if="!isAuthenticated" id="login-button" class="btn btn-primary" ng-click="openLogin()">Login</button>
      <button ng-if="!isAuthenticated" id="register-button" class="btn btn-primary" ng-click="openRegister()">Register</button>
    </div>
  </div>
  <div id="server_result" class="row">
  </div>
</div>
<script src="/js/scripts/vendor.js"></script>
<script src="/js/scripts/validation.js"></script>
<script>
  angular.element(document).ready(function() {
    angular.bootstrap(document, ['konikio']);
  });
</script>